*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #d8d8d8;
}

ul{
  list-style: none;
}

.container{
  display: grid;
  grid-template-columns:  minmax(300px, 1fr) 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}


.header{
  background-color: #fff;
  box-shadow: 0px 5px 10px #9c9c9c;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding:20px;
  font-weight: 500;
}

.account-two{
  grid-area: 2 / 1 / 3 / 2;
}

.account-name{
  font-size: 2.5rem;
  font-weight: 500;
}



.sidebar{
  background-color: #379ef8;
  color:#fff;
  font-weight: 600;
  padding:20px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.sidebar > *{
  padding-bottom: 4rem;
}

.sidebar h1{
  font-size: 4rem;
}

.sidebar ul{
  font-size: 2rem;
}

.sidebar ul li{
  padding:7px 20px;
}

.content-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}