*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: min-content 1fr;
  background-color: #ececec;
  min-height: 100vh;
}

.iconify{
  margin-right: 20px;
  height:25px;
  width:25px;
}


.sidebar{
  grid-row: 1 / 3;
  padding:20px;
  background-color: #078de7;
  color:#fff;
  font-size: 2rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap:70px;
  font-weight: bold;
}

.sidebar-header{
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.dashboard-icon{
  width:40px;
  height:40px;
}

.sidebar ul{
  list-style: none;
  margin-left:10px;
}

.sidebar ul li{
  padding-bottom: 10px;
}

.sidebar a{
  text-decoration: none;
  color:#fff;
}

.sidebar ul a:hover{
  color:#dadada;
}

.dashboard-icon{
  display: flex;
  align-items: center;
}

/* -------------------------------------------------*/

.header{
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2,min-content);
  gap:15px;
  box-shadow: 0px 5px 10px #b3b3b3;
  background-color: white;
}

.search{
  display: flex;
  align-items: center;
}

.search-button{
  background-color: white;
  outline: none;
}

.search-bar{
  background-color: #ececec;
  border-radius: 20px;
  size: 1.5rem;
  border: none;
  width: 75%;
}

.search input{
  padding: 5px 20px;
  height:35px;
  font-size: 20px;
  color:#4b4b4b;
}

textarea:focus, input:focus{
  outline: none;
}

.account{
  display: flex;
  justify-content: end;
  align-items: center;
  gap:40px;
  font-size: 2rem;
  font-weight: bold;
}
.profile-picture{
  height:60px;
  width:60px;
  border-radius: 50%;
  
}

.header-profile{
  display: flex;
  gap:15px;
  align-items: center;
  font-weight:bold;
  font-size: 1.5rem;
}

.header-profile-name{
  font-size: 2rem;
}

.header-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons ul{
  display:flex;
  list-style: none;
  gap:20px;
}

.header-buttons ul a{
  text-decoration: none;
  color:#fff;
  background-color: #078de7;
  padding:10px 30px;
  border-radius: 30px;
  font-size: 1.5rem;
}

.header-buttons ul a:hover{
  background-color: #0063a0;
}

/* ----------------------------------------------------- */

.content-container{
  display: grid;
  grid-template-columns: 1fr minmax(300px, 350px);
  padding:30px;
  gap:30px;
}

.content-header{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects-container{
  display: flex;
  flex-direction: column;
}


.articles-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(220px,1fr);
  gap:20px;
}

.article{
  background-color: #fff;
  border-radius: 10px;
  border-left: solid 10px #ffbb00;
  display:flex;
  flex-direction: column;
  padding:20px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #b3b3b3;
}

.article-title, .announcement-title{
  font-weight: 600;
  font-size: 2rem;
  color:#000;
  margin: 10px 0 7px 0;
}

.article p{
  color:#363636;
  font-size: 1.5rem;
}

.article-links{
  display: flex;
  gap:20px;
  justify-content: flex-end;
}

.article-links a{
  color:#000000;
}
/* ---------------------------------------------- */

.right-container{
  display: flex;
  flex-direction: column;
  gap:50px;
}
.announcement{
  background-color: #fff;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px #b3b3b3;
}

.announcement-section-tile{
  margin: 15px 0;
  padding: 0 10px;
  font-size: 1.5rem;
  color:#363636;
}



.trending-section{
  background-color: #fff;
  border-radius: 10px;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #9c9c9c;
}

.trending-account{
  display: flex;
  align-items: center;
  gap:20px;
  font-size: 2rem;
  color:#7a7a7a;
  padding: 20px 10px;
}

.account-at{
  color:#000;
  margin-bottom: 3px;
  font-weight: 500;
}

.img-attribution{
  text-align: center;
  color:#58a7ec;
  text-decoration: none;
}